/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #50b3a2;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.post-form,
.post-list {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-form__flex,
.btn-flex {
  display: flex;
  flex-direction: column;
}

.post-form__flex label,
.btn-flex button {
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #50b3a2;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e8491d;
}

.err {
  color: red;
  font-weight: bold;
}

.post-list ul {
  list-style: none;
  padding: 0;
}

.post-list li {
  background: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-list .post-datetime,
.post-list .post-datetime__updated {
  display: block;
  color: #999;
  margin-top: 10px;
}

.no-post-msg {
  text-align: center;
  font-size: 1.2em;
  color: #999;
}

.delete-confirm-msg,
.delete-success-msg {
  text-align: center;
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

.p-pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin: 0;
}
