* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*---------------------------------------------------------------------------------------------------
共通項目
----------------------------------------------------------------------------------------------------*/
body {
  font-size: 16px;
  background-color: rgb(224, 224, 224);
}

hr {
  margin: 40px 0;
  border-color: rgb(137, 137, 137);
}

h1 {
  text-align: center;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

p,
span {
  color: #333;
}

input,
textarea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  line-height: 1.5;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

button[name="cancel_btn"] {
  border: 1px solid rgb(172, 172, 172);
  background-color: rgb(182, 182, 182);
}

button[name="cancel_btn"]:hover {
  background-color: rgb(189, 189, 189);
}

.btn--mg-c {
  margin: 0 auto;
}

.title {
  margin-bottom: 40px;
}

/* メッセージ表示のスタイル */
.no-post-msg {
  text-align: center;
}

.delete-confirm-msg {
  text-align: center;
  margin-bottom: 30px;
  color: red;
  font-weight: bold;
}

.delete-success-msg {
  text-align: center;
}

.err {
  color: red;
  font-size: 13px;
}

/*
改行もそのまま表示するための指定
これが無いと改行が半角スペースに変換されて
表示されてしまう
*/
.p-pre {
  white-space: pre-wrap;
}

.container {
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}


/*---------------------------------------------------------------------------------------------------
board
----------------------------------------------------------------------------------------------------*/
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin-bottom: 70px;
  background-color: #333;
  color: #fff;
}

button[name="logout_button"] {
  border: 1px solid rgb(255, 165, 0);
  background-color: rgb(255, 140, 0);
  margin: 20px auto;
}

button[name="logout_button"]:hover {
  border: 1px solid rgb(255, 140, 0);
  background-color: rgb(255, 165, 0);
}

.logout-link {
  text-align: center;
}

/* search-form */
.search-form {
  margin-bottom: 40px;
}

button[name="search_button"] {
  border: 1px solid rgb(148, 148, 218);
  background-color: rgb(94, 94, 255);
  margin: 20px auto;
}

button[name="search_button"]:hover {
  background-color: rgb(116, 116, 255);
}

/* post-form */
.post-form {
  margin-bottom: 40px;
}

.post-form__flex {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-bottom: 20px;
}

.post-form__flex > div:first-child {
  width: 250px;
}

.post-form__flex > div:last-child {
  flex: 1;
}

.post-list button {
  margin: 30px 0 0 0;
  padding: 8px 20px;
}

.post-list li {
  margin-bottom: 15px;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 10px;
}

.post-list span {
  display: inline-block;
  margin-bottom: 25px;
}

.btn-flex {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}

.post-list li:last-child {
  margin-bottom: 0;
}

/* 画像のサイズを投稿フォームの幅に収める */
.post-list img {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* 必要に応じて画像の角を丸める */
}

.post-datetime {
  display: inline-block;
  margin-top: 25px;
  font-size: 12px;
  color: gray;
}

.post-datetime__updated {
  display: inline-block;
  margin-left: 10px;
}

/* 画像アップロードセクションのスタイル */
.upload-section {
  margin: 20px 0;
  text-align: center;
}

.upload-section label {
  display: block;
  margin-bottom: 10px;
}

.upload-section p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.upload-section input[type="file"] {
  display: inline-block;
  width: 280px;
  margin-top: 10px;
}

.upload-section .err {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.updated-post {
  margin-left: auto;
  padding: 2px 5px;
  width: fit-content;
  font-size: 12px;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 5px;
  color: rgb(105, 105, 105);
}

button[name="post_btn"] {
  border: 1px solid rgb(148, 148, 218);
  background-color: rgb(94, 94, 255);
}

button[name="post_btn"]:hover {
  background-color: rgb(116, 116, 255);
}

button[name="update_btn"],
button[name="update_submit_btn"] {
  border: 1px solid rgb(62, 150, 62);
  background-color: rgb(74, 152, 74);
}

button[name="update_btn"]:hover,
button[name="update_submit_btn"]:hover {
  background-color: rgb(83, 169, 83);
}

button[name="delete_btn"],
button[name="delete_submit_btn"] {
  border: 1px solid rgb(255, 31, 31);
  background-color: rgb(255, 48, 48);
}

button[name="delete_btn"]:hover,
button[name="delete_submit_btn"]:hover {
  background-color: rgb(255, 82, 82);
}

/* pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 15px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination a.current-page {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination a.disabled {
  pointer-events: none;
  color: #ccc;
  border-color: #ddd;
}


/*---------------------------------------------------------------------------------------------------
login
----------------------------------------------------------------------------------------------------*/
.register-link-container {
  text-align: center;
  margin-top: 50px;
}

.register-link-container a {
  text-decoration: none;
}

button[name="login_button"] {
  border: 1px solid rgb(255, 165, 0);
  background-color: rgb(255, 140, 0);
  margin: 20px auto;
}

button[name="login_button"]:hover {
  border: 1px solid rgb(255, 140, 0);
  background-color: rgb(255, 165, 0);
}

button[name="register_link_button"] {
  border: 1px solid rgb(148, 148, 218);
  background-color: rgb(94, 94, 255);
  margin: 20px auto;
}

button[name="register_link_button"]:hover {
  background-color: rgb(116, 116, 255);
}


/*---------------------------------------------------------------------------------------------------
register
----------------------------------------------------------------------------------------------------*/

button[name="register_button"] {
  border: 1px solid rgb(148, 148, 218);
  background-color: rgb(94, 94, 255);
  margin: 20px auto;
}

button[name="register_button"]:hover {
  background-color: rgb(116, 116, 255);
}


/*---------------------------------------------------------------------------------------------------
update-edit
----------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------
delete-confirm.php
----------------------------------------------------------------------------------------------------*/
.delete-confirm_post-form {
  margin-left: auto;
  margin-right: auto;
}

.delete-confirm-input {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}



/*---------------------------------------------------------------------------------------------------
レスポンシブデザイン
----------------------------------------------------------------------------------------------------*/
/* タブレット以上のスタイル */
@media screen and (min-width: 768px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .board-container {
    max-width: 1200px;
  }
}

/* モバイルのスタイル */
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 20px;
  }

  button[name="logout_button"] {
    padding: 10px 10px;
  }

  .post-form__flex {
    display: block;
  }

  .post-form__flex > div {
    width: 100%; /* 各要素を全幅にする */
    margin-bottom: 20px; /* 各要素の間にスペースを作る */
  }
}
